# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


# DATABASE_URL=postgres://ben:4Qi3j04mYzsYmm1lT1JSZqrvS0oVJqOG@dpg-cabu2tns437mlen521ug-a.oregon-postgres.render.com/nwdb



POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Nest run locally
DB_HOST=
# Nest run in docker, change host to database container name
# DB_HOST=postgres
DB_PORT=5432


# Prisma database connection
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}

# Nest
PORT=3000

# Security
JWT_ACCESS_SECRET=nestjsPrismaAccessSecret
JWT_REFRESH_SECRET=nestjsPrismaRefreshSecret